.section-title {
	margin-bottom: 40px!important;
	font-size: 36px!important;
}

.section-title-ja {
	margin-bottom: 30px;
 	font-size: 16px;
}

.solution-wrap > div {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}

.solution-wrap > div:not(:first-child) {
	margin-left: 30px;
}

.ci-wrap {
    display: flex;
}

.ci-wrap p {
	margin: 0 0 1em 0;
}

.subtitle {
    font-weight: bold;
    font-size: 16px;
}

.solution-wrap {
    display: flex;
}

.solution-wrap p {
    margin: 0 0 1em 0;
    line-height: 25px;
    font-size: 13px;
}

.solution {
    width: 270px;
}

.solution h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.solution:not(:last-child) {
    margin-right: 30px;
}

#index_free_content4 > h2 {
    font-size: 34px;
}

#index_free_content5 h2 {
    font-size: 34px;
}

.index_free_content {
	margin: 0 auto 80px;
}

.image-wrap, .letter-wrap {
    padding-right: 15px;
    padding-left: 15px;
}

.material-icons {
    text-align: center;
}

.letter-wrap p {
    line-height: 20px;
}

.googlemap {
    width: 100%;
}

#footer_menu > ul.menu {
	display: inline-flex;
	margin: 0 auto;
	width: 280px;
}

#footer_menu > ul.menu li:not(:last-child) {
	margin-right: 20px;
}

#profile table th {
    background: #c0e3f5;
}

.recruit-wrap table th {
    background: #fdf9d3;
}

.material-icons {
    font-size: 50px;
}

.align-center {
    text-align: center;
}

.solution-wrap .subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

img.sp {
    display: none;
}

#header_inner {
    display: flex;
    position: relative;
}

.pc #global_menu {
    position: absolute;
    right: 0;
}

#footer_bottom {
    background-color: black;
}

@media only screen and (max-width: 1199px) {

    .solution-wrap {
        display: block;
    }

    .solution-wrap > div {
        margin-left: 0px;
        margin: 0 auto;
        width: 80%;
    }

    .section-title {
        text-align: center;
        font-size: 26px!important;
    }

    .subtitle {
        text-align: center;
    }

    .solution-wrap > div:not(:first-child) {
        margin-left: 0px;
			margin: 0 auto;
	}
		
	.material-icons {
			font-size: 50px;
    }

    .ci-wrap {
        display: block;
    }

    .letter-wrap .section {
        margin-top: 20px;
    }

    .letter-wrap .section .subtitle {
        text-align: left;
    }

    .letter-wrap p:nth-child(2) {
        font-size: 13px;
    }

    #profile table th, .recruit-wrap table th {
        width: 60px;
        vertical-align: middle;
    }

    img.pc {
        display: none;
    }

    img.sp {
        display: block;
        margin-top: 3px;
        margin-left: 20px;
    }

    #header a, mobile a.menu_button:before {
        color: #ffffff;
    }

    .mobile a.menu_button:hover {
        background-color: #333;
    }

    a.menu_button:before {
        color:#333;
    }

    .mobile #copyright, #footer_top {
        background-color: #333!important;
    }
    

}