<div id="corporate-identity">
    <h2 class="section-title rih_font">Corporate identity</h2>

    <div class="ci-wrap">
        
        <div class="image-wrap">
            <img src="http://kurashi-develop.sakura.ne.jp/newkurashitech/wp-content/themes/kurashitech/img/top/vision.jpg" alt="VISION">
        </div>
        <div class="letter-wrap">
            <div class="section">
                <p class="subtitle">Mission</p>
                <p>くらしをアップデートさせ、”自分らしい人生”を実現できる社会をつくる</p>
            </div>
            <div class="section">
                <p class="subtitle">Vision</p>
                <p> "やりたい"を創造・実現させるプロフェッショナル集団になる</p>
            </div>
            <div class="section">
                <p class="subtitle">Our Policy</p>
                <p>”リレーション”を大切に。</p>
                <p>私たちは、Webを主軸としたお客様の戦略パートナーです。</p>
                <p>”ビジネスを飛躍させる最善の手段は何か”を常に考え、お客様と共に成長できるように、お客様の事業・組織構成・ビジョンを深く理解し、
                    お客様の開発に関する習熟度を問わず、理解していただきながら進めるリレーションを大切にしています。</p>
                <p>一方でコアな技術を社内で理解しながら人材を育てることで、要領を得たディレクションを実現。ビジネスに必要なスピード感、クオリティを実現できる組織づくりに力を入れています。</p>
                <p>新規事業やWeb開発に関するお悩みの際には、ぜひ一度ご相談ください。</p>
            </div>
        </div>
    </div>
</div>