<div id="profile">
    <h2 class="section-title rich_font">Profile</h2>
    <table>
        <tr>
            <th>会社名</th>
            <td>株式会社くらしテック</td>
        </tr>
        <tr>
            <th>設立年月</th>
            <td>2017年2月</td>
        </tr>
        <tr>
            <th>資本金</th>
            <td>3,000,000円</td>
        </tr>
        <tr>
            <th>事業内容</th>
            <td>サービス開発・Web受託開発業務<br>システム・インフラ構築・運用業務<br>経営・Webコンサルティング業務</td>
        </tr>
        <tr>
            <th>住所</th>
            <td><本社><br>〒110-0016<br>東京都台東区台東3-42-7 松田商事ビル 4F<br><br><池袋オフィス><br>〒171-0014<br>東京都豊島区池袋2-13-4天翔池袋西口ビル5階 510号室</td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td>03-3527-9394</td>
        </tr>
        <tr>
            <th>人員紹介</th>
            <td>代表取締役　武藤大也<br>取締役　　　大塩零士<br>取締役　　　佐々木光治</td>
        </tr>
        <tr>
            <th>従業員数</th>
            <td>8名</td>
        </tr>
        <tr>
            <th>親会社</th>
            <td>株式会社イングクラウド</td>
        </tr>
    </table>
</div>