<div id="solution">
    <h2 class="section-title">SOLUTION</h2>
    <div class="solution-wrap rich_font">
        <div>
            <div class="align-center"><i class="material-icons">phone_iphone</i></div>
            <p class="subtitle align-center">受託開発</p>
            <p>HTML、CSS、JavaScript、PHP(CakePHP)、Swift、Javaを使った受託開発をしております。コーディング1ページからお気軽にご相談ください。</p>
        </div>
        <div>
            <div class="align-center"><i class="material-icons">desktop_mac</i></div>
            <p class="subtitle align-center">リモートエンジニアディレクション</p>
            <p>リモートで作業するエンジニアに対して効率的なディレクションを提供。リソース発掘、ディレクション、コードレビュー、開発支援を通して円滑な開発ができるようにディレクションいたします。</p>
        </div>
        <div>
            <div class="align-center"><i class="material-icons">router</i></div>
            <p class="subtitle align-center">インフラ保守・運用</p>
            <p>サービスレベル管理、ディザスタリカバリ、サービス・サーバ監視、データ保全、メンテナンスの保守・運用管理を承ります。</p>
        </div>
        <div>
            <div class="align-center"><i class="material-icons">devices_other</i></div>
            <p class="subtitle align-center">戦略コンサルティング</p>
            <p>Webを主軸とした戦略を用いて、クライアントの課題に合わせた事業・課題解決を提案し、企業成長のサポートをいたします。</p>
        </div>
    </div>
</div>